<app-admin-aside></app-admin-aside>
<section
    class="
        up-admin-home
        main-content
        position-relative
        max-height-vh-100
        h-100
        border-radius-lg
    "
>
    <div class="up-admin-home__container container-fluid">
        <div class="row">
            <div
                *ngFor="let item of items"
                class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-xl-0 mb-4"
            >
                <div class="card">
                    <div class="card-header p-3 pt-2">
                        <div
                            class="
                                icon icon-lg icon-shape
                                bg-gradient-primary
                                shadow-primary
                                text-center
                                border-radius-xl
                                mt-n4
                                position-absolute
                            "
                        >
                            <i
                                class="material-icons opacity-10"
                                [class.loading]="loading"
                            >
                                {{ item.icon }}
                            </i>
                        </div>
                        <div class="text-end pt-1">
                            <p class="text-sm mb-0 text-capitalize">
                                {{ item.title }}
                            </p>
                            <h4 class="mb-0">
                                {{ item.var.length }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
