@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    font-size: 0 !important;
}

.loading:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: loading 0.8s linear infinite;
}
