<app-admin-aside></app-admin-aside>
<section
    class="
        up-admin-user
        main-content
        position-relative
        max-height-vh-100
        h-100
        border-radius-lg
    "
>
    <div class="up-admin-home__container container-fluid">
        <div class="row">
            <div class="col-lg-11">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-7">
                                <h6>
                                    {{ idParam ? "Editar" : "Criar" }}
                                    curso
                                </h6>
                            </div>
                        </div>
                    </div>
                    <form
                        [formGroup]="checkoutForm"
                        (ngSubmit)="onSubmit()"
                        class="p-4"
                    >
                        <label>Nome:</label>
                        <br />
                        <input
                            type="text"
                            class="form-control w-100"
                            placeholder="Digite o nome do curso"
                            formControlName="name"
                            required
                        />
                        <br />
                        <label>Descrição:</label>
                        <br />
                        <input
                            type="text"
                            class="form-control w-100"
                            placeholder="Digite a descrição do curso"
                            formControlName="description"
                        />
                        <br />
                        <button
                            class="btn btn-primary"
                            color="primary"
                            type="submit"
                        >
                            Salvar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
