<app-admin-aside></app-admin-aside>
<section
    class="
        up-admin-user
        main-content
        position-relative
        max-height-vh-100
        h-100
        border-radius-lg
    "
>
    <div class="up-admin-home__container container-fluid">
        <div class="row">
            <div class="col-lg-11">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-7">
                                <h6>Lista de cursos</h6>
                            </div>
                        </div>
                    </div>
                    <div
                        *ngIf="subjects.length > 0; else elseBlock"
                        class="card-body px-0 pb-2"
                    >
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th
                                            class="
                                                text-center
                                                text-uppercase
                                                text-secondary
                                                text-xxs
                                                font-weight-bolder
                                                opacity-7
                                            "
                                        >
                                            Id
                                        </th>
                                        <th
                                            class="
                                                text-center
                                                text-uppercase
                                                text-secondary
                                                text-xxs
                                                font-weight-bolder
                                                opacity-7
                                            "
                                        >
                                            Name
                                        </th>
                                        <th
                                            class="
                                                text-center
                                                text-uppercase
                                                text-secondary
                                                text-xxs
                                                font-weight-bolder
                                                opacity-7
                                            "
                                        >
                                            Course Id
                                        </th>
                                        <th
                                            class="
                                                text-center
                                                text-uppercase
                                                text-secondary
                                                text-xxs
                                                font-weight-bolder
                                                opacity-7
                                            "
                                        >
                                            Created at
                                        </th>
                                        <th
                                            class="
                                                text-center
                                                text-uppercase
                                                text-secondary
                                                text-xxs
                                                font-weight-bolder
                                                opacity-7
                                            "
                                        >
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of subjects">
                                        <td class="align-middle text-sm">
                                            <span
                                                class="text-xs font-weight-bold"
                                            >
                                                {{ item.id }}
                                            </span>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <span
                                                class="text-xs font-weight-bold"
                                            >
                                                {{ item.name }}
                                            </span>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <span
                                                class="text-xs font-weight-bold"
                                            >
                                                {{ item.courseId }}
                                            </span>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <span
                                                class="text-xs font-weight-bold"
                                            >
                                                {{
                                                    item.createdAt
                                                        | date: "dd/MM/yyyy H:m"
                                                }}
                                            </span>
                                        </td>
                                        <td
                                            class="
                                                align-middle
                                                text-sm text-center
                                            "
                                        >
                                            <span
                                                class="text-xs font-weight-bold"
                                            >
                                                <button
                                                    class="btn m-0"
                                                    [routerLink]="[
                                                        '/admin/subjects',
                                                        item.id
                                                    ]"
                                                >
                                                    <i
                                                        class="
                                                            material-icons
                                                            opacity-10
                                                        "
                                                    >
                                                        edit
                                                    </i>
                                                </button>
                                                <button
                                                    class="btn m-0"
                                                    (click)="delete(item.id)"
                                                >
                                                    <i
                                                        class="
                                                            material-icons
                                                            opacity-10
                                                        "
                                                    >
                                                        delete
                                                    </i>
                                                </button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class="text-center my-4">
                            Nenhuma disciplina cadastrada
                        </div>
                    </ng-template>
                    <a
                        class="btn btn-primary"
                        color="primary"
                        [routerLink]="['/admin/subject']"
                        style="
                            max-width: 100px;
                            margin-left: auto;
                            margin-right: 25px;
                        "
                    >
                        <i class="material-icons opacity-10">add</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
